body {
    margin: 0 auto;
}


.grid1 {
    width: 100%;
    border: 5px solid rgba(255, 255, 255, .5);
    background-color: #fc8019;
    cursor: pointer;
    transition: all 0.3s linear;

}

.grid1:hover {
    transform: rotate(-7deg);
}

.grid2 {
    width: 100%;
    border: 5px solid rgba(255, 255, 255, .5);
    background-color: #fc8019;
    ;
    cursor: pointer;
    transition: all 0.3s linear;
}


.grid2:hover {
    transform: rotate(-7deg);
}

.gridimages {
    width: 100%;
    height: 80%;
}

figcaption {
    background-color: #fc8019;
    color: #ffffff;
    text-align: center;
    font-family: cursive;
    padding-top: 10px;
}


/*Second file*/



.zone {

    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    transition: all 0.3s linear;
}




/*NAV*/
.main-nav {
    list-style: none;
    display: flex;
    font-size: 0.6em;
    margin: 0;
}

.fix {
    position: fixed;
    top: 0;
    width: 100%
}


li {
    padding: 20px;
}

li a {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    text-decoration: underline;
}

.blue {
    background: #DD5F32;
    /* Old browsers */
    font-family: cursive;
}

footer a {
    text-decoration: none;
    color: inherit;

    color: white";

}

footer a:hover {
    text-decoration: underline;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.zone {

    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    transition: all 0.3s linear;
}

.image {


    height: 50%;

}

.heading {
    font-size: xx-large;
    text-align: center;
    font-family: cursive;
}

.size {
    font-size: 15px;
    text-align: center;

}

/*form/*

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
}


.button {
    background-color: #dd5f32;
    color: #ffffff;
    border: 0px;
    height: 50px;

}

.button:hover {
    cursor: pointer;
}